@import url(../../assets/css/common.css);

body {
  background: url("oh-la-la.jpeg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  /* padding: 2rem; */
}

svg {
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50%;
  width: 200px;
  margin-bottom: 3.125rem;
}

.wrapper {
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 21.875rem;
}

h2 {
  text-align: center;
  font-weight: 500;
}

.plates {
  text-align: left;
  list-style: none;
}

.plates li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.plates label {
  flex: 1;
  cursor: pointer;
}

.plates input {
  display: none;
}

.plates input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.plates input:checked + label:before {
  content: "🌮";
}

.add-items {
  margin-top: 20px;
}

.add-items input,
.add-items button {
  padding: 0.625rem;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add-items button {
  transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background-color: azure;
  }
}

button {
  cursor: pointer;
}

.btn-wrap {
  display: none;
  margin-block: 1rem;
  padding-block: 0.5rem;

  button {
    background-color: inherit;
    padding: 0.4rem 0.7rem;
    border: 1px solid rgba(250, 155, 0, 0.5);
    border-radius: 0.2rem;
    transition: background-color 0.3s linear, transform 0.1s ease-in-out;

    &:hover {
      background-color: rgba(250, 155, 0, 0.3);
      transform: scaleY(1.03);
    }
  }
}

.plates:has(li) ~ .btn-wrap {
  display: block;
}
