@import url(../../assets/css/common.css);

body {
  background: linear-gradient(
    to right,
    rgb(15, 23, 42),
    rgb(88, 28, 135),
    rgb(15, 23, 42)
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 3rem;
  padding: 3rem;
}

.main__header {
  width: 100%;

  a {
    text-transform: capitalize;
    color: yellowgreen;
    transition: color 0.6s ease-in-out;

    &:hover {
      color: white;
    }
  }
}

p {
  margin-bottom: 0.7rem;
}
