:root {
  --primary: #dc9754;
  --background: #FFF5EA;
  --secondary: #f6ece1;
  --foreground: #1f1f1f;
  --yellow: #FFFB47;
  --purple: #9747FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  background-image: radial-gradient(
    rgba(181, 115, 76, 0.3) 1px,
    transparent 1px
  );
  background-size: 45px 30px;
  background-repeat: repeat;
  background-position: 10% 50%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
  background-color: var(--background);
  min-block-size: 100%;
  text-rendering: optimizeSpeed;
  scrollbar-gutter: stable both-edges;
  -webkit-font-smoothing: antialiased;
  color: var(--foreground);
  padding-block: 1.3rem;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.main__header{
  text-align: center;

  h1 {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;

  span{
  color: var(--purple);
  }
}
}

.projects {
  padding: 1rem 2rem;

  display: grid;
  gap: 2.5rem;
}

.project__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 4px 0 rgba(0,0,0,1);
  border:4px solid #000;

  .card__image {
    flex: 1;
    height: 25rem;
    overflow: hidden;
    background-color: var(--background);
    margin-bottom: 0.5rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: scale 0.5s ease-in-out;
    }

    &:hover > img {
      scale: 1.2;
    }
  }

  .card__content {
    padding: 1rem;

    h3 {
      text-transform: capitalize;
    }

    .card__links {
      margin-block: 2rem;
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      font-size: 1.1rem;
      background-color: var(--purple);
      color: #FFFFFF;
      text-transform:capitalize;
      font-weight:500;
      padding: 0.5rem 0.8rem;
      box-shadow:2px 2px #000;
      border:2px solid #000;
      position:relative;
      display:block;
      z-index:1;

      &::before{
        content: "";
        position:absolute;
        width:0%;
        height:100%;
        inset:0;
        background-color: rgba(255,251,71,0.9);
        transition: all .5s linear;
        display:block;
        z-index:-1;
      }

      &:hover{
        color: #000;

        &::before{
        width:100%;
        }
      }
    }

  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (width>=47.8125rem) {
  h1 {
    font-size: 3.125rem;
  }

  .projects {
    padding-inline: 4rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (width>=75rem) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
