@import url(../../assets/css/common.css);

html {
  font-size: 20px;
}

body {
  background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
  padding: 1rem;
}

.main__header a {
  transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    color: palevioletred;
  }
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.site-wrap {
  max-width: 700px;
  margin-inline: auto;
  padding: 40px;
  text-align: justify;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
