@import url(../../assets/css/common.css);

body {
  font-size: 1.25rem;
  background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
}

.main__header {
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;

  p {
    text-align: center;
  }

  a {
    text-transform: capitalize;
  }
}

main {
  padding-bottom: 3rem;
}

.panels {
  min-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-transform: uppercase;
    font-family: "Amatic SC", cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
    visibility: hidden;
    transition: all 0.5s 0.6s linear;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
  }

  p:first-child {
    translate: 0 -100px;
  }

  p:last-child {
    translate: 0 100px;
  }

  p:nth-child(2) {
    font-size: 4em;
    visibility: visible;
    transition: none;
  }
}

.panel1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}
.panel2 {
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}
.panel5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}

/* Flex Children */
/* .panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
} */

.panel.open {
  font-size: 40px;

  flex: 3;

  p {
    visibility: visible;
    translate: 0;
  }
}

@media screen and (min-width:47.8rem) {
  .panels {
    flex-direction: row;
  }
}
